.container-products {
    max-width: 960px;
    height: 60px;
    margin: 20px auto 0;
    background-color: var(--color-bg-secondary);
}

.products-links {
    display: flex;
    padding-top: 20px;
}

.products-links li{
    font-size: 16px;
    padding-right: 10px;
}