header{
    height: 70px;
    background-color: blue;
}

.container-links{
    max-width: 960px;
    margin: 0 auto;
    color: var(--color-font-primary);
}

.navbar-list{
    padding-top: 20px;
    display: flex;
    align-items: center;
    
}

.navbar-list li{
    padding-left: 0;
    padding-right: 10px;
}

.container-image{
    margin-left: auto;
}

.image-home{
    width: 30px;
    height: 28px;
}
