header {
    height: 70px;
    background-color: blue;
}

.container-links {
    max-width: 960px;
    margin: 0 auto;
    color: var(--color-font-primary);
}

.components-navbar {
    margin-right: 20px;
}

.navbar-list {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.container-image {
    margin-left: auto;
}

.image-home {
    width: 30px;
    height: 28px;
}

.menu-default-navbar {
    font-weight: 700;
}

.menu-active-navbar {
    font-weight: 400;
}